
# Server Configuration, default port is 8080
# PORT=8080

# Database Configuration
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=degov_apps
DB_PORT=5432
# DB_SSLMODE=disable # (default)

# Application Environment
# Possible values: development, staging, production (default)
# APP_ENV=production

# Logging Configuration
# Possible values: json (default), console
# LOG_FORMAT=json
# Possible values: debug, info (default), warn, error, fatal
# LOG_LEVEL=info
# Database logging level - Possible values: silent, error, warn (default), info
# DB_LOG_LEVEL=warn

# Authentication Configuration
JWT_SECRET=your_jwt_secret
# For development (APP_ENV=development) only - disable nonce verification on login (UNSAFE)
# UNSAFE_ENABLE_VERIFY_NONCE_ON_LOGIN=true

# # Background Task Configuration
# # DAO Sync Task
# TASK_DAO_SYNC_ENABLED=true
# TASK_DAO_SYNC_INTERVAL=5m

# # Vote Tracking Task
# TASK_VOTE_TRACKING_ENABLED=true
# TASK_VOTE_TRACKING_INTERVAL=1m

# # Vote End Tracing Task
# TASK_VOTE_END_TRACKING_ENABLED=true
# TASK_VOTE_END_TRACKING_INTERVAL=5m

# # Proposal Tracking Task
# TASK_PROPOSAL_TRACKING_ENABLED=true
# TASK_PROPOSAL_TRACKING_INTERVAL=3m

## registry config, default use latest tag
## use tag
# REGISTRY_CONFIG_MODE=tag
# REGISTRY_CONFIG_REFS=v0.0.1
## use branch
# REGISTRY_CONFIG_MODE=branch
# REGISTRY_CONFIG_REFS=main


## abisearch

ETHERSCAN_API_URL=https://api.etherscan.io
ETHERSCAN_API_KEY=M26I37Q.....43PTE



## sendgrid
# SENDGRID_API_KEY=SG....
# SENDGRID_FROM_USER="DeGov Notifications"
# SENDGRID_FROM_EMAIL=notifications@degov.ai
