{{template "layout.html" .}}
<!-- -->
{{define "content"}}
<div>
  <h1 class="title">Confirm your email address</h1>

  <div class="message">
    <p>
      There's one quick step to confirm your email address. Please enter this
      verification code on Deov:
    </p>
  </div>

  <div class="verification-code-box">
    <p class="verification-code">563821</p>
  </div>

  <div class="expiry-note">
    <p>
      Verification codes expire after two hours. Do not share this code with
      anyone.
    </p>
  </div>

  <div class="signature">
    Thanks,<br />
    <span class="signature-name">DeGov.AI</span>
  </div>
</div>
{{end}}
