{{define "title"}} {{.Title}} {{end}}

{{define "content"}}
  {{$proposalDb := .Proposal.ProposalDb}}
  {{$proposalIndexer := .Proposal.ProposalIndexer}}
  {{$dao := .Dao}}
  {{$daoConfig := .DaoConfig}}
  {{$payload := .PayloadData}}
  {{$config := .DegovSiteConfig}}

  <h1 class="title">Proposal status update</h1>

  <p class="text mb-40 maxw-450">
    Hello {{if .EnsName}}{{.EnsName}}{{else}}{{.UserAddress}}{{end}},<br/>
    The status of the proposal &quot;{{$proposalDb.Title}}&quot; you're following in {{$dao.Name}} has been updated.
  </p>

  <div class="box">
    <div class="mb-20">
      <div class="label">Proposal</div>
      <div class="value">{{$proposalDb.Title}}</div>
    </div>
    <div>
      <div class="label">Latest Status</div>
      <div class="value">{{$payload.new_state}}</div>
    </div>
  </div>

  <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%" class="cta-table">
    <tr>
      <td width="50%" class="cell-left">
        <a href="{{$proposalDb.ProposalLink}}" target="_blank" class="btn-primary">Proposal Details</a>
      </td>
      {{if and $proposalIndexer.TransactionHash $daoConfig.Chain.Explorers}}
      <td width="50%" class="cell-right">
        <a href="{{index $daoConfig.Chain.Explorers 0}}/tx/{{$proposalIndexer.TransactionHash}}" target="_blank" class="btn-primary">Transaction Details</a>
      </td>
      {{end}}
    </tr>
  </table>

  <p class="text mb-20">Thank you for staying engaged with {{$dao.Name}} onchain governance!</p>

  <p class="text no-mb">
    Best regards,<br/>
    The {{$config.Name}} Team
  </p>
{{end}}
