{{define "title"}} {{.Title}} {{end}}

{{define "content"}}
  {{$config := .DegovSiteConfig}}
  {{$dao := .Dao}}
  {{$proposal := .Proposal}}

  <h1 class="title">New proposal from {{$dao.Name}}</h1>

  <p class="text mb-40">
    Hello {{if .EnsName}}{{.EnsName}}{{else}}{{.UserAddress}}{{end}},<br/>
    A new proposal has been created in {{$dao.Name}} that you're subscribed to, see details below:
  </p>

  <div class="box">
    <div class="mb-20">
      <div class="label">Proposal</div>
      <div class="value">{{$proposal.ProposalDb.Title}}</div>
    </div>
    <div class="mb-20">
      <div class="label">Proposer</div>
      <div class="value value-break">{{$proposal.ProposalIndexer.Proposer}}{{if $proposal.ProposerEnsName}} ({{$proposal.ProposerEnsName}}){{end}}</div>
    </div>
    <div class="mb-20">
      <div class="label">Created</div>
      <div class="value">{{$proposal.ProposalIndexer.BlockTimestamp | formatDate}}</div>
    </div>
    <div class="mb-20">
      <div class="label">Voting Starts</div>
      <div class="value">{{$proposal.ProposalIndexer.VoteStartTimestamp | formatDate}}</div>
    </div>
    <div>
      <div class="label">Voting Ends</div>
      <div class="value">{{$proposal.ProposalIndexer.VoteEndTimestamp | formatDate}}</div>
    </div>
  </div>

  <div class="cta-primary">
    <a href="{{$proposal.ProposalDb.ProposalLink}}" target="_blank" class="btn-primary">View And Vote</a>
  </div>

  <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%" class="cta-table">
    <tr>
      {{if .DaoConfig.OffChainDiscussionURL}}
      <td width="50%" class="cell-left">
        <a href="{{.DaoConfig.OffChainDiscussionURL}}" target="_blank" class="btn-outline">Join Discussion</a>
      </td>
      {{end}}
      {{if .Proposal.TweetLink}}
      <td width="50%" class="cell-right">
        <a href="{{.Proposal.TweetLink}}" target="_blank" class="btn-outline">View Tweet</a>
      </td>
      {{end}}
    </tr>
  </table>

  <p class="text mb-20">
    Your participation helps shape the future of {{$dao.Name}}!
  </p>

  <p class="text no-mb">
    Best regards,<br/>
    The {{$config.Name}} Team
  </p>
{{end}}
