{{define "title"}}Proposal voting reminder - DeGov.AI{{end}}

{{define "content"}}
  {{$proposalDb := .Proposal.ProposalDb}}
  {{$proposalIndexer := .Proposal.ProposalIndexer}}
  {{$dao := .Dao}}
  {{$vote := .Vote}}
  {{$payload := .PayloadData}}
  {{$config := .DegovSiteConfig}}

  <h1 class="title">Proposal voting reminder</h1>

  <p class="text mb-40 maxw-450">
    Hello {{if .EnsName}}{{.EnsName}}{{else}}{{.UserAddress}}{{end}},<br/>
    This is a friendly reminder that voting for the proposal &quot;{{$proposalDb.Title}}&quot; in {{$dao.Name}} is ending soon.
  </p>

  <div class="box" style="margin-bottom: 40px;">
    <div class="mb-20">
      <div class="label">Proposal</div>
      <div class="value">{{$proposalDb.Title}}</div>
    </div>
    <div class="mb-20">
      <div class="label">Voting Ends</div>
      <div class="value">{{$proposalIndexer.VoteEndTimestamp | formatDate}} {{if $payload.TimeRemaining}}({{$payload.TimeRemaining}} remaining){{end}}</div>
    </div>
    {{if $vote.VoteIndexer}}
    <div class="mb-20">
      <div class="label">Your Voting Power</div>
      <div class="value">{{(formatBigIntWithDecimals $vote.VoteIndexer.Weight $payload.DecimalsInt) | formatLargeNumber}}</div>
    </div>
    {{end}}

    <div class="mb-20">
      <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%" class="mb-8">
        <tr>
          <td class="text-14">Voting Progress</td>
          <td class="text-14-muted text-right">Abstain: {{(formatBigIntWithDecimals $proposalIndexer.MetricsVotesWeightAbstainSum $payload.DecimalsInt) | formatLargeNumber}} ({{$vote.PercentAbstain | formatPercent}})</td>
        </tr>
      </table>

      <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td class="text fw-600" style="padding-right: 10px; white-space: nowrap;">For ({{$vote.PercentFor | formatPercent}})</td>
          <td width="100%">
            <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%" style="font-size: 0px; line-height: 0px;">
              <tr>
                <td width="{{$vote.PercentFor}}%" style="background-color: #00B403; height: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;"></td>
                <td width="{{$vote.PercentAbstain}}%" style="background-color: #979797; height: 5px;"></td>
                <td width="{{$vote.PercentAgainst}}%" style="background-color: #FF3C3F; height: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"></td>
              </tr>
            </table>
          </td>
          <td class="text fw-600" style="padding-left: 10px; white-space: nowrap;" align="right">Against ({{$vote.PercentAgainst | formatPercent}})</td>
        </tr>
      </table>
    </div>

    <div>
      <div class="label">Quorum Progress</div>
      {{if ge $vote.PercentQuorum 100.0}}
        <div class="value">{{$vote.PercentQuorum | formatPercent}} ✅ (Threshold exceeded!)</div>
      {{else}}
        <div class="value">{{$vote.PercentQuorum | formatPercent}} ⚠️ (Needs more votes!)</div>
      {{end}}
    </div>
  </div>

  <div class="cta-primary">
    <a href="{{$proposalDb.ProposalLink}}" target="_blank" class="btn-primary-sm">View And Vote</a>
  </div>

  <p class="text mb-20">Every vote counts in decentralized governance. Make your voice heard!</p>

  <p class="text no-mb">
    Best regards,<br/>
    The {{$config.Name}} Team
  </p>
{{end}}
