{{define "title"}} {{.Title}} {{end}}

{{define "content"}}
  {{$proposalDb := .Proposal.ProposalDb}}
  {{$dao := .Dao}}
  {{$daoConfig := .DaoConfig}}
  {{$voteIndexer := .Vote.VoteIndexer}}
  {{$payload := .PayloadData}}
  {{$config := .DegovSiteConfig}}

  <h1 class="title">New vote cast</h1>

  <p class="text mb-40 maxw-450">
    Hello {{if .EnsName}}{{.EnsName}}{{else}}{{.UserAddress}}{{end}},<br/>
    A new vote has been cast on the proposal &quot;{{$proposalDb.Title}}&quot; in {{$dao.Name}}.
  </p>

  <div class="box">
    <div class="mb-20">
      <div class="label">Proposal</div>
      <div class="value">{{$proposalDb.Title}}</div>
    </div>
    <div class="mb-20">
      <div class="label">Voter</div>
      <div class="value">{{if $payload.VoterEnsName}}{{$payload.VoterEnsName}}{{else}}{{$voteIndexer.Voter}}{{end}}</div>
    </div>
    <div class="mb-20">
      <div class="label">Vote Direction</div>
      <div class="value">
        {{if eq $voteIndexer.Support 1}}✅ For
        {{else if eq $voteIndexer.Support 0}}❌ Against
        {{else}}⚪️ Abstain
        {{end}}
      </div>
    </div>
    <div>
      <div class="label">Voting Power</div>
      <div class="value">{{(formatBigIntWithDecimals $voteIndexer.Weight $payload.DecimalsInt) | formatLargeNumber}}</div>
    </div>
  </div>

  <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%" class="cta-table">
    <tr>
      <td width="50%" class="cell-left">
        <a href="{{$proposalDb.ProposalLink}}" target="_blank" class="btn-primary">Proposal Details</a>
      </td>
      <td width="50%" class="cell-right">
        <a href="{{index $daoConfig.Chain.Explorers 0}}/tx/{{$voteIndexer.TransactionHash}}" target="_blank" class="btn-primary">View This Vote</a>
      </td>
    </tr>
  </table>

  <p class="text mb-20">Thank you for staying engaged with {{$dao.Name}} onchain governance!</p>

  <p class="text no-mb">
    Best regards,<br/>
    The {{$config.Name}} Team
  </p>
{{end}}
